@model WebApplication7.Models.Polaczenie

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Polaczenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Godzina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Godzina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ilosc_miejsc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ilosc_miejsc)
        </dd>
    </dl>
</div>
<div>
    <fieldset>
        <legend style="font-family: 'Segoe UI'; color: rgb(73,171,210); font-size: large;">@Html.DisplayFor(model => model.Stacja)</legend>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <div id="googleMap" style="height:500px;width:100%;"></div>
        <script>

        function myMap() {
            var myCenter = new google.maps.LatLng(@Html.DisplayFor(model => model.N), @Html.DisplayFor(model => model.E));
            var mapProp = { center: myCenter, zoom: 6, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA15DK6WPDwDD7WHEqs-kyGKQogCqZBN7U&callback=myMap"></script>
    </fieldset>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
